/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
	font-family: 'Avenir Black';
	src: url('../fonts/Avenir-Black.ttf'),
        url('../fonts/Avenir-BlackOblique.ttf'),
        url('../fonts/Avenir-Book.ttf'),
        url('../fonts/Avenir-BookOblique.ttf'),
        url('../fonts/Avenir-Heavy.ttf'),
        url('../fonts/Avenir-HeavyOblique.ttf'),
        url('../fonts/Avenir-Light.ttf'),
        url('../fonts/Avenir-LightOblique.ttf'),
        url('../fonts/Avenir-Medium.ttf'),
        url('../fonts/Avenir-MediumOblique.ttf'),
        url('../fonts/Avenir-Oblique.ttf'),
        url('../fonts/Avenir-Roman.ttf'),
  
}

body {
  font-family:'Avenir Black',sans-serif;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
p{
    font-family: 'Open Sans';
}
a{
    color:#18aa50;

}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-width: 0px;
     height: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#mainmenu_area {
  border-top: 3px solid #0fab4b;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.navbar{
    border-radius: 0px;
}
.navbar-brand {
    margin-top: -32px;
}
nav {
padding: 40px 0 10px;
}
.navbar-default .navbar-nav > li > a{
    color: #125daa;
    font-size: 20px;
    font-family: 'Avenir Black';
}
.navbar-default .navbar-nav > li > a:hover{
	color:#18AA50;
}
.navbar-brand{
	padding:8px;
}
.navbar-right{
	font-size: 16px;
	text-transform:capitalize;
	font-weight:700;
	color:#000;
}
.navbar-default {
  background-color:#FFF;
  border-color:#c0c0c0;
}

.single_menu{
    float: left;
    margin-left: 674px;
    margin-top: -27px;
}
.navbar-brand > img {
  display: block;
  margin-left: 35px;
}
.navbar-right{
	margin-right: 20px;
}

.single_menu ul{
	list-style:none;

}
.single_menu ul li{
	display:inline-block;
	padding:5px;
}
.single_menu ul li a {
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    text-decoration: none;
}
.single_menu ul li a:hover{}
.serch input[type=text] {
background-color: #8d9aa9;
background-image: url("../images/searchicon.png");
background-position: 220px 12px;
background-repeat: no-repeat;
border: 1px solid #8d9aa9;
border-radius: 22px;
box-sizing: border-box;
color: #fff;
font-family: "Open Sans";
font-weight: 700;
height: 42px;
padding-left: 19px;
transition: width 0.4s ease-in-out 0s;
width: 260px;
}
/*
.serch input[type=text]:focus {
    width: 100%;

}
*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #17aa51;
  color: #fff;
}
.navbar-nav > li > .dropdown-menu {
  background: #17aa51 none repeat scroll 0 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  font-size:18px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	background:transparent;
	color:#FFF;
	transition:0.3s;
	font-weight:700;
}
/*bannner section style*/
#banner_area{
background-image: url("../images/banner_gradint.jpg");
background-repeat: no-repeat;
background-size: cover;
color: #fff;
padding-top: 325px;
padding-bottom:28px;

	
}

.caption h1 {
    font-family: "Avenir Black";
    font-size: 46px;
}
.btn-group-lg > .btn, .btn-lg {
border-radius: 30px;
font-family: "Avenir Black";
font-size: 20px;
margin-top: 78px;
padding: 14px 60px;
}
.btn-primary {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  float: right;
  border:2px solid #fff;
  transition:0.6s;
}
.btn-primary:hover{
	background-color:#17AA51;
	border:none;
}
.btn-primary.focus, .btn-primary:focus{
	background-color:#17AA51;
	border:none;	
}
.caption p {
font-family: "Open Sans";
font-size: 22px;
}

#promo_area{
	background:#EBF4F9;
	border-bottom:1px solid #C2DBE5;
	padding:22px;
}
.icon_area{
	text-align:center;
}
.icon_area i{
background: #fff none repeat scroll 0 0;
border: 1px solid #18aa50;
border-radius: 50%;
color: #18aa50;
height: 60px;
margin-left: 30px;
padding-top: 17px;
width: 60px;
	
}
.icon_area a{
    color: #666;
    font-family: "Avenir LT W01_65 Medium1475532";
    font-size: 28px;
    padding: 0 5px;
    text-decoration: none;
}
.icon_area a:hover{
	color:#125DAA;
}
.icon_area i:hover{
	background:#18AA50;
	color:#FFF;
	cursor:pointer;
	
}
.text_area h1{
	color: #125daa;
	font-size: 44px;
    font-family:"Avenir LT W01_95 Black1475556";

}
.text_area p{
    color: #666666;
    font-size: 24px;

}
.testing_req{
	margin-top:20px;
}
.form-group{
	padding:10px;
}
.form-control{
    background-color: #eaf4f8;
    border: 1px solid #bbd7e2;
    border-radius: 35px;
    color: #125daa;
    font-family: "Open Sans";
    font-size: 20px;
    height: 58px;
    padding-left: 25px;

}
label{
color: #8d9aa9;
font-family: "Avenir Black";
font-size: 20px;
}

.caption{
	margin-top:150px;
}
.warning{
	color:#18aa50;
}
/*select*/
.form-data select {
    -moz-appearance: none;
    position: relative;
}
.selectbox {
    position: relative;
}
.selectbox::before {
    color: #666;
	content: "\f0d7";
	font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 57px;
    z-index: 1;
}
#brack{
	padding:30px 0px;
}
hr{
    border-color: #18aa50;
}
#tested_area{
	padding-bottom:20px;
}
#tested_area h3{
    color: #8d9aa9;
    font-family: "Avenir Black";
    font-size: 22px;
}
#tested_area p{
color: #666;
font-size: 18px;
}
#select_area{
	padding-bottom:50px;
}
#select_area h4{
	color:#125daa;
}
.inner_text_left h5{
	color: #444;
	font-size: 15px;
}
.inner_text_left {
  color: #666;
  font-size: 15px;
}
input[type=checkbox].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
background-position: 0 0;
background-repeat: no-repeat;
cursor: pointer;
display: inline-block;
font-family: "Open Sans";
font-size: 16px;
font-weight: normal;
line-height: 20px;
padding-left: 40px;
vertical-align: middle;

}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}
label.css-label {
background-image:url(../images/checked.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.estimated h3{
	color:#8d9aa9;
    font-size: 20px;
}
.estimated_total h3{
color: #18aa50;
font-size: 22px;
}
.estimated p{
    color: #8d9aa9;
    font-size: 16px;
}
.estimated_total p{
	color:#8d9aa9;	
	line-height: 38px;
}

#addsional_area{
	padding-bottom:20px;
}
#addsional_area h3{
	color: #8d9aa9;
    font-size: 22px;
}
#addsional_area p{
    font-size: 16px;
}
.border_text p{
	color:#125daa;
	font-size: 18px;
}
.border_text {
  background: #eaf4f8 none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  border-radius: 40px;
  padding: 17px;
  padding-bottom:150px;
}
.customs{
background-color: #18aa50;
border-color: transparent;
border-radius: 35px;
font-family: "Avenir Black";
font-size: 20px;
padding: 15px 38px;
transition: all 0.8s ease 0s;
}
.btn-success:hover{
	background-color:#125DAA;
	border-color: transparent;
}
#form_area_pickpu{
	padding-bottom:40px;
}
#footer_area{
	background-color:#003c71;
	padding:40px;
}
#footer_area img{
	max-width:100%;	
}
.address p {
  color: #fff;
  font-size: 13px;
  text-align: right;
  line-height: 10px;
}
.address h4{
color: #fff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 700;
text-align: right;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    border-bottom-right-radius: 0;
	border-top-left-radius: 19px;
    border-top-right-radius: 16px;
}
.dropdown-menu > li > a{
	color:#FFF;
}
.navbar-nav > li > .dropdown-menu {
background: #17aa51 none repeat scroll 0 0;
border-radius: 18px 0 19px 23px;
font-size: 18px;
margin-top: 0;
}
.dropdown-menu{
	border:none;
	box-shadow:none;
}
/*inner page css*/
#banner_section> img {
  max-width: 100%;
  padding-top: 125px;
}
#breadcrumb_area{
    background-color: #eaf4f8;
}
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
}
.breadcrumb a {
color: #18aa50;
font-family: "Avenir LT W01_65 Medium1475532";
font-size: 13px;
font-weight: normal;
}
#inner_page h1,h2,h3{
    color:#125daa;
}
#inner_page h2{
    font-size: 32px;
}

#inner_page h4{
    color:#666;
    font-family: "Avenir LT W01_85 Heavy1475544";
    font-size: 24px;
}
#inner_page h1{
font-size: 44px;
}
#inner_page p,.inner_list,.inner_serial{
    color: #666;
    font-size: 20px; 
    font-family: "Open Sans";
}
ul.inner_list{
    color: #18aa50;

}
.inner_list span{
    color: #666;
    font-family: "Open Sans";
}   
#inner_page img{
    margin: 18px;
}   
.relative{
    position: relative;
    width: 66%;
    color: #666;
}
#msg > p {
  font-family: "Open Sans";
  font-size: 22px;
  font-style: italic;
}
#msg {
font-size: 12pt;
left: 59px;
position: absolute;
top: 50px;
width: 100%;
line-height: 25px;
} 
#msg a {
  text-decoration: none;
}
#bracks{
    padding: 10px 0px;
} 
#bracks hr{
    background-color: #666;
}
.customs_btn{
    border-radius: 24px; 
	padding: 12px 29px;
	font-weight:700;
	transition:0.8s;
    background-color: transparent;
    border-color:#18aa50;
    color:#18aa50;
}  
#table_area  {
    padding: 30px 0px; 
}
#table_area p{
 color: #666;
 font-size: 12pt; 
}
.table > thead > tr > th{
    border: none;
}
tr,th{
    text-align: center;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
      border: none;  
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #eaf4f8;
}
thead> tr   {
    color:#125daa;
    font-size: 16px;
    font-family: 'Avenir Black';
}
tbody> tr{
    color:#555;
}
tbody> tr>td{
    padding: 60px 0px;
} 
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border:none;
  line-height: 1.42857;
  padding: 30px 0;
  vertical-align: top;
}  
   
   
   
   
   
   
   
   
   
   
   
   
   
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
